@import "reset";
@import "variables";
body {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    button {
        background-color: yellow;
        color: rgb(160, 20, 130);
    }
    .col {
        width: 30%;
        min-height: 100px;
        background-color: black;
        ul {
            color: white;
        }
        p,
        h3 {
            color: beige;
        }
    }
}